
/*work sance font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


/*Shared Style-----*/
*{
    font-family: 'Open Sans', sans-serif;
    
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:  #131313;
}
.text-light-gray{
    color: #727272;
   
}

.btn-primary{
    background: #FF900E;
    border-radius: 8px;
    padding: 21px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

/*header styles*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav > ul{
    display: flex;
    

}
nav li{
    list-style: none;
    margin: 30px;
    font-weight: 500;
    font-size: 1rem;
   
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/*banner style*/

.banner-content{
    max-width:800px;
    text-align: center;
    margin: 0 auto;
}
.bannr-title{
    font-size: 4rem;
    font-weight: 700px;
    color:  #131313;
}

.banner img{
    width:100%;
    margin-top: 20px;
}


/*---------main style------*/
main{
    max-width:1440px;
    margin: 70px auto;
}
/*----Teams style----*/

.team-container{
display: flex;
align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.4rem;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.4rem;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}
.title-features{
    color:#FF900E;
    font-weight: 700;
}

/*feature style-----*/
 .features{
    display: flex;
    margin-top: 100px;
    gap: 130px;
 }
    .feature-content .card{
        padding: 30px;
        margin-bottom: 20px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
        }
 .ten-year-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

 }
 .feature-img img{
    height: 90%;
    margin-left: 50px;
   }

 .ten-year-badge h2{
    color: #FFF;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
 }
 .ten-year-badge p{
    font-size: 1.5rem;
    font-weight: 500;
 }

.features .section-title{
    border-left: 5px solid #FF900E;
    padding: 20px;
}

/*facts----container*/
.facts-card-container{
display:flex;
justify-content: space-around;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-title{
color: #727272;
font-weight: 600;

}

.facts-card-container .card-stats{
    font-size: 2.8rem;
     color: #424242;
     margin-bottom: 5px;
}
/*sponsor style*/

.sponsor{
    text-align: center;
}
.sponson-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.sponson-img-container img{
    width: 165px;
}
.footer-section{
    background: #FFF4E7;
    max-width: 1440px;
    height: 100px;
    display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 240px;
   padding-right: 240px;
   margin:130px 230px 200px 230px;
}













/*responsive media ----query------------------------------*/

@media screen and (max-width:576px){
    header{
        padding: 10px;
    }
    nav,nav>ul, .team-container,
    .facts-card-container,
    .sponson-img-container,
    .features
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns:1fr;
  
    }
     .feature-img img{
       width: 90%;
        margin-left:0;
       }
       .ten-year-badge{
       max-width:90%;
       position: static;

       }

    .facts-card-container{
        gap: 20px;
    }
.teams-content, .facts-card-container{
    padding-right:  20px;
    padding-left: 20px;
}
 .footer-section{
    margin: 0;
    padding: 20px;
 }
}
@media screen and (min-width:577px) and (max-width:960px){
    header{
        padding:40px;
    }
    nav,.team-container,
     .sponson-img-container, .features
    {
        flex-direction: column;
    }
     .footer-section{
        margin: auto;
        padding: 20px;
     }
}